<div class="header1">
    <mat-toolbar>
        <div id="topheader">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div col-md-3 col-sm-3 class="navbar-header">
                        <a class="navbar-brand" href="#" style="color: green;"><img alt="Brand"
                                src="../../assets/images/nitro-log.jpg" width="200px" height="75px"
                                style="position: relative;left: -12px;">
                        </a>
                    </div>
                    <div col-md-3 col-sm-3 class="navbar-header" style="color: rgb(227, 235, 227);">
                        <button (click)="onAppMenuClick()" type="button" class="btn">
                            <mat-icon class="icon-display">apps</mat-icon>
                        </button>
                    </div>
                </div>
            </nav>

        </div>
    </mat-toolbar>
</div>