<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <br>
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                            src="../../assets/images/nitro-log.jpg" alt="" width="140" height="37"
                            srcset="../../assets/images/nitro-log.jpg"></a>

                    <!-- Rights-->
                    <p class="rights"><span>© </span><span class="copyright-year">2020</span><span>
                        </span><span>Company</span><span> - </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="col_white_amrc">Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>No 37, National Housing Road, Hambantota, Sri Lanka</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">hdranawaeera@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">+94771502322</a>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</footer>